<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="logerrorwatcher:menu" type="Sitecore.LogWatcher.Commands.MenuCommand, Sitecore.LogWatcher"/>
      <command name="logerrorwatcher:clear" type="Sitecore.LogWatcher.Commands.ClearCommand, Sitecore.LogWatcher"/>
      <command name="logerrorwatcher:openmessages" type="Sitecore.LogWatcher.Commands.OpenMessagesCommand, Sitecore.LogWatcher"/>
    </commands>
  </sitecore>
</configuration>